{% extends "form.html" %}

{% block form_header %}
  {% trans %}Choose Password{% endtrans %}
{% endblock form_header %}

{% block form_body %}
  <form action="" method="POST" id="choose-password-form">
    {% if require_recovery_code %}
      <p class="recovery-code-field">
        <label for="recovery_code">{% trans %}Recovery code{% endtrans %}</label>
        <input id="recovery_code"
               name="recovery_code"
               type="text"
               value="{{request.form.get('recovery_code', '')}}"
               placeholder="{% trans %}Enter your recovery code{% endtrans %}"
               maxlength="254"
               required
               >
      </p>
    {% endif %}
    <p>
      <label for="password">{% trans %}Password{% endtrans %}</label>
      <input id="password"
             name="password"
             type="password"
             placeholder="{% trans num=config.PASSWORD_MIN_LENGTH %}{{num}} characters at least{% endtrans %}"
             maxlength="{{config.PASSWORD_MAX_LENGTH|safe}}"
             required
             >
    </p>
    <p>
      <label for="confirm">{% trans %}Re-type password{% endtrans %}</label>
      <input id="confirm"
             name="confirm"
             type="password"
             placeholder="{% trans %}Enter the password again{% endtrans %}"
             maxlength="{{config.PASSWORD_MAX_LENGTH|safe}}"
             required
             >
    </p>
    <p class="form-comment">
      {% trans %}
        It is highly recommended that the password you choose
        here is different from the password on your email
        account!
      {% endtrans %}
    </p>
    <p>
      <input type="submit" value="{% trans %}Submit{% endtrans %}">
    </p>
  </form>
{% endblock form_body %}
