{% extends "form.html" %}

{% block form_header %}{{title|safe}}{% endblock form_header %}

{% block form_body %}
  <form action="" method="POST" id="change-email-login-form">
    <p>
      <label for="password">{% trans %}Password{% endtrans %}</label>
      <input id="password"
             name="password"
             type="password"
             placeholder="{% trans %}Enter your password{% endtrans %}"
             required
             >
    </p>
    <p>
      <input type="submit" value="{% trans %}Submit{% endtrans %}">
    </p>
  </form>
{% endblock form_body %}
